
<custom-header [menu]="menu"></custom-header>

<custom-body>
    <fieldset>
        <legend>Angular</legend>
        <p><span class="red-color">Angular2 binding is <b>{{ cool }}</b>!</span></p>
        <p><input type="text" [(ngModel)]="cool"></p>
        <b>contenteditable:</b> <div
          contenteditable="true"
      
          [textContent]="cool"
          (input)="cool=$event.target.textContent"
      
        >**{{cool}}</div>
      </fieldset>
      
      <fieldset>
        <legend>Polymer</legend>
        <custom-element owner="{{cool}}"></custom-element>
      </fieldset>
</custom-body>

